body{
    background-color: rgb(40, 110, 208);
    height: 100vh;
    width: 100vw;
    
}


.diaarchive{
    position: absolute;
    display: flex;
flex-direction: row;

}

.dia{
    width: 10vw;
    height: 10vw;
margin-right: -5vh;
margin-left: -5vw;
margin-top: 20vw;
    border:white solid 2vh;
    border-bottom: white solid 8vh;

    filter: blur();
    filter: grayscale();
box-shadow: 10px 10px 5px rgb(101, 112, 116);
    transform: rotateY(50deg);
    transform: skewy(5deg);

}
.dia:hover{
    transform: skewy( -40deg);
    transform: scale(140%) ;
    z-index: 10;
    margin-left: 2vw;
    margin-right:2vw;
    filter: none;
}
.dia:active {

    transform: scale(400%);
    z-index: 10;
    transition: ease-in-out 0.5s;
}


img{
    height: 100%;
    width: 100%;
}

span{
    background-color: rgba(255, 228, 196, 0);
    margin-bottom: 30vh;
    font-size: 10rem;
}
.typo{
    font-size: 4rem;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

#obenrechts{
    margin-top: 5;
 margin-left: 90vw;
}